@import url("../../../../index.css");

.login-container {
  background-color: var(--white-background);
  border-radius: 20px;
  height: 530px;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-title {
  color: var(--dark-title-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem;
}

.login-form-item > input {
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  height: 30px;
  margin: 20px 20px 0px 20px;
  width: 300px;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.login-submit-button {
  font-family: "Comfortaa";
  padding: 0.5rem 0.6rem;
  border: 0;
  border-radius: 50px;
  color: var(--dark-title-color);
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  background-color: var(--title-brown-color);
}

.register-advice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 4rem;
}

.link-to-register {
  font-weight: bolder;
  text-transform: uppercase;
}
