.login-container {
  background-color: var(--white-background);
  border-radius: 20px;
  height: 530px;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-title {
  color: var(--title-brown-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem;
}

.login-form-item > input {
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  height: 30px;
  margin: 20px 20px 0px 20px;
  width: 300px;
}

.login-button-logo {
  padding: 0;
  margin: 0;
  width: 1.4rem;
  height: 1.4rem;
}

.login-submit-button {
  border: 0;
  background: none;
  border-radius: 50px;
  padding: 0;
  margin: 0 0.5rem;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
