@import "../../../index.css";

.backPack-container {
  align-items: center;
  background-color: var(--white-background);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  display: flex;
  flex-direction: column;
  height: 33rem;
  margin: 2rem auto;
  width: 20rem;
}

.pay-button {
  background-color: rgb(24, 212, 24);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  font-weight: bold;
  height: 25px;
  margin-top: 6rem;
  width: 125px;
}
