@import url("../../../index.css");

.cathegories-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-height: 9rem;
  margin: 0.2rem;
  padding: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}
