@import "../../../index.css";

.session-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  padding: 0;
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.89);
  height: 100%;
  width: 55%;
  z-index: 10;
  top: 0;
  left: 0;
}

.session-nav-item {
  padding-left: 1rem;
  padding-top: 2rem;
  padding-right: 1rem;
}

.link-menu-title {
  margin: 0;
}

.navigation-menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--dark-title-color);
}
