@import url("../../../index.css");

.user-profile-container {
  align-items: center;
  background-color: var(--white-background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 93vw;
  height: 45rem;
}

#upload-photo-input {
  display: none;
}

.photo-logo {
  display: inline-block;
  top: 2rem;
}

.user-profile-container > h1 {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2.5rem;
}

.user-info-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.user-item-title {
  margin: 0.5rem 1rem 0 0;
}

.user-info-item > p {
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  height: 40px;
  line-height: 2.5rem;
  text-align: center;
  width: 20.5rem;
  font-size: 0.9rem;
}

.modify-buttons-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.modify-user-info-button,
.modify-user-password-button {
  font-family: "Comfortaa";
  padding: 0.5rem 0.3rem;
  border: 0;
  border-radius: 50px;
  margin-top: 0.5rem;
  margin: 0 0.3rem;
  color: white;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  background-color: var(--title-brown-color);
}

.upload-user-button {
  margin-left: 10rem;
}

.upload-photo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-photo-input-container {
  position: absolute;
}

.photo-logo {
  position: relative;
  top: 5.5rem;
  right: 2.5rem;
}
