h2.title-howItWorks {
  text-transform: uppercase;
  text-align: center;
}

div.main-howItWorks {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p.title-bold {
  font-weight: bold;
}

div.body-howItWorks {
  font-size: 0.75rem;
  text-align: center;
  max-width: 150px;
}

div.div-list-howItWorks {
  max-width: 200px;
  font-size: 0.8rem;
}

img.img-arrow {
  background-image: url(arrow.svg);
  height: 33px;
  width: 43px;
}