@import "../../../index.css";

.book-details-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.book-details-list {
  border-radius: 1rem;
  background-color: var(--white-background);
  margin: 20px;
}

.book-details-cover {
  border-radius: 0.5rem;
  height: 50vw;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  width: 35vw;
}

.book-details-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 1.5rem;
}

.book-details-reserve-button {
  background-color: var(--white-background);
}

.book-details-author {
  font-size: 1.5rem;
}

.book-details-sinopsis {
  text-align: justify;
}

.book-details-reserve-button {
  background-color: rgb(24, 212, 24);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  height: 25px;
  margin-bottom: 1rem;
  width: 125px;
}
