@import "../../../index.css";

.book-details-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.book-details-container > li > a > img {
  border-radius: 0.5rem;
  height: 50vw;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  width: 35vw;
}

.book-details-container > li > a > div > h1 {
  font-size: 1.5rem;
}
.book-details-container > li > a > div > h2 {
  font-size: 1rem;
}

.book-details-container > li > a > div > p {
  font-size: 0.8rem;
  text-align: justify;
  padding: 0.5rem;
}

.book-details-reserve-button {
  font-family: "Comfortaa";
  padding: 0.5rem 0.6rem;
  margin-bottom: 2rem;
  border: 0;
  border-radius: 50px;
  color: white;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  background-color: var(--title-brown-color);
}

.back-button {
  position: relative;
  right: 9.5rem;
  top: 4.5rem;
}

@media (min-width: 660px) {
  .book-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
  margin: 0 auto;
}
}
