
.reserves-title {
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem;
}

.reserve-item-list-container{
  display: flex;
  justify-content: center;
}

.reserve-item-list {
  background-color: white;
  border: none;
  border-radius: 20px;
  height: 30px;
  margin: 20px 20px 0px 20px;
  width: 300px;
}