@import "../../../index.css";

.donations-container {
  background-color: var(--white-background);
  border-radius: 20px;
  height: 530px;
  margin: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
}

.donations-form-title {
  color: var(--dark-title-color);
}

.donations-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.donations-input {
  border: none;
  border-radius: 20px;
  height: 30px;
  margin: 20px 20px 0px 20px;
  width: 300px;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
}

.donations-form-button {
  font-family: "Comfortaa";
  padding: 0.5rem 0.6rem;
  border: 0;
  border-radius: 50px;
  color: white;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  background-color: var(--title-brown-color);
}

.donations-form-direction {
  color: var(--dark-title-color);
  font-size: large;
  margin-top: 100px;
  text-align: center;
}

.donation-error-message-container {
  margin-top: 1rem;
  text-align: center;
  color: red;
}
