@import "../../../index.css";

.donations-container {
  background-color: var(--white-background);
  border-radius: 20px;
  height: 530px;
  margin: 20px 20px 20px 20px;
}

.donations-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.donations-input {
  border: none;
  border-radius: 20px;
  height: 30px;
  margin: 20px 20px 0px 20px;
  width: 300px;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
}

.donations-form-button {
  margin: 1rem 0;
  text-align: center;
  background-color: rgb(24, 212, 24);
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  height: 25px;
  width: 125px;
}

.donations-form-direction {
  color: var(--title-brown-color);
  font-size: large;
  margin-top: 100px;
  text-align: center;
}
