@import "../../../index.css";

.user-list-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.89);
  height: 100%;
  width: 55%;
  z-index: 10;
  top: 0;
  left: 0;
}

.user-list-menu-administration {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  padding: 0;
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.89);
  height: 100%;
  width: 55%;
  z-index: 10;
  top: 0;
  left: 0;
}

.user-liuser-list-menu-administration:first-child a {
  margin-top: 10rem;
}

.user-list-item-menu {
  color: var(--dark-title-color);
  padding: 2rem 1rem;
}

.user-list-menu > a {
  color: var(--dark-title-color);
  text-decoration: none;
}

.close-menu-button {
  height: 2rem;
  height: 2rem;
  position: absolute;
  left: 11.5rem;
  top: 0.6rem;
}

.logout-button {
  border: 0;
  background: none;
  padding: 3rem 0rem 0rem 0.5rem;
  margin: 0 0.5rem;
}
