.cathegory-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  height: 9rem;
  width: 8rem;
}

.cathegory-img {
  border-radius: 0.5rem;
  width: 7rem;
  height: auto;
  filter: blur(0.7px) grayscale(20%);
}

.cathegory-tittle {
  font-size: 1.3rem;
  margin: 0;
}
