@import "../../../../index.css";

.purse-container {
  text-align: center;
  background-color: var(--white-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 0.9rem 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
}

.purse-title {
  text-align: center;
  text-transform: uppercase;
}

.money-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 1rem 2rem;
}

.money-display-container {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 0.5rem;
  text-align: center;
  height: 3rem;
  width: 5rem;
  background-color: var(--white-background);
  margin-left: 1rem;
}

.money-display {
  align-self: center;
}

.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 1rem 2rem;
}

.card-options {
  height: 2rem;
  width: 20rem;
  background-color: var(--white-background);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.recharge-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recharge-button {
  border: 1px solid rgba(0, 0, 0, 0.363);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin: 0.3rem;
  font-family: "Comfortaa";
  font-size: 1.3rem;
}

.recharge-button-value {
  margin-right: 0.8rem;
}

.effective-recharge-button-container {
  margin-top: 1rem;
}

.add-card-button,
.effective-recharge-button {
  text-align: center;
  font-family: "Comfortaa";
  padding: 0.5rem 0.3rem;
  border: 0;
  border-radius: 50px;
  color: white;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  background-color: var(--title-brown-color);
}