@import url("../../../../index.css");

.cathegories-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  /* justify-content: center; */
  /* max-height: 9rem; */
  /* margin: 0.2rem; */
  padding: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.cathegories-menu::-webkit-scrollbar {
  display: none;
}

.cathegories-menu > a {
  text-decoration: none;
  text-transform: uppercase;
}

.cathegories-container {
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.div-cathegory-container {
  border-radius: 0.5rem;
}


@media (min-width: 660px) {
  .cathegories-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 auto;
  max-width: 50vw;
  padding: 0;
  /* overflow-x: auto;
  scroll-behavior: smooth; */
}
}
