.cathegory-container {
  display: flex;
  position: relative;
  text-align: center;
  color: black;
  height: 9rem;
  width: 9rem;
}

.cathegory-img {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  filter: blur(1px) grayscale(25%);
}

.cathegory-tittle {
  font-size: larger;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
