@import url("../../../index.css");

/* .donation-main-info {
  list-style: none;
  display: flex;
  background-color: var(--title-brown-color);
  color: white;
  height: 2.5rem;
  width: 65vw;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
} */

/* .donations-list {
  list-style: none;
  display: flex;
} */

.donations-item {
  margin: 1rem 1rem;
}

.donation-main-info {
  list-style: none;
  display: flex;
}

.update-donation-form {
  display: flex;
}

.update-donation-button {
  font-family: "Comfortaa";
  padding: 0.5rem 0.6rem;
  border: 0;
  border-radius: 50px;
  color: white;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  background-color: var(--title-brown-color);
  margin-top: 1rem;
  width: 2.2rem;
}
