@import url("../../../index.css");

.donation-info-container {
  background-color: var(--title-brown-color);
  color: white;
  height: 6.5rem;
  width: 95%;
  border: 0.5px solid black;
  border-collapse: separate;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;
}

.donations-list {
  list-style: none;
  display: flex;
}

.donations-item {
  margin: 1rem 1rem;
}
