.footer {
  background-color: grey;
  padding: 10px;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-around;
}

.footer > a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}
