@import url("../../index.css");

.footer {
  background-color: var(--title-brown-color);
  padding: 10px;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-around;
}

.creators-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.creator-li {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 1.2rem;
  font-weight: 900;
  text-align: center;
}
