@import url("../../index.css");

.footer {
  background-color: var(--title-brown-color);
  display: flex;
  font-size: 0.7rem;
  justify-content: space-around;
  padding: 0.5rem;
}

.creators-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.creator-li {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  margin: 0;
  padding: 0 1.2rem;
  text-align: center;
}
