.footer {
  background-color: grey;
  padding: 10px;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}

.footer-link {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
  text-decoration: none;
}
