.register-container {
  background-color: var(--white-background);
  border-radius: 20px;
  height: 35rem;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-title {
  color: var(--title-brown-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem;
}

.form-item {
  display: flex;
  justify-content: center;
}

.register-form-item > input,
textarea {
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  height: 30px;
  margin: 20px 20px 0px 20px;
  width: 300px;
}

.register-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.register-submit-button {
  font-family: "Comfortaa";
  padding: 0.5rem 0.6rem;
  border: 0;
  border-radius: 50px;
  color: white;
  box-shadow: 5px 5px 5px rgb(58, 55, 55);
  background-color: var(--title-brown-color);
}

.register-form-title {
  text-align: center;
}

.error-message-container {
  margin-top: 1rem;
  text-align: center;
  color: red;
}
