@import url("../../../../index.css");

.cathegory-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  height: 7rem;
  width: 7rem;
}

.cathegory-tittle {
  font-size: 1rem;
  font-weight: 900;
}

.div-cathegory-container {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}
