@import url("../../../index.css");

.user-main-info {
  background-color: var(--white-background);
  list-style: none;
  display: flex;
  justify-content: center;
  max-width: 90%;
  padding: 0.9rem 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  justify-content: space-around;
}

.user-principal-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-profile-name {
  font-size: 0.9rem;
}

.user-name,
.user-email {
  font-size: 0.7rem;
}

.user-purse-item {
  display: flex;
  flex-direction: column;
}

.user-purse {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.update-delete-container {
  display: flex;
  justify-content: space-between;
}

.delete-user-button {
  border: 0;
  background: none;
  border-radius: 50px;
  padding: 0;
  margin: 0 0.5rem;
}
