@import url("../../../index.css");

.book-item {
  background-color: var(--white-background);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  padding: 1.5rem 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
}

.book-item > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cover {
  width: 7rem;
  height: 9.5rem;
}

.book-title {
  font-size: small;
}

.book-author {
  font-size: smaller;
}
