.header-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 2rem;
}

.header-items {
  display: flex;
  padding: 1rem 0.5rem;
  justify-self: start;
  justify-content: space-around;
}

.browser-container {
  align-self: center;
  margin-top: 0.5rem;
}

.ppal-logo {
  display: flex;
  align-items: center;
}
