.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-items {
  display: flex;
  padding: 1.5rem;
  max-width: fit-content;
}

.ppal-logo {
  flex-grow: 1;
}
